<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faqs</title>
    <link rel="stylesheet" href="https:fonts.googleapis.com/template/css?family=Roboto:400,700">
    <!-- https:fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- https:fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https:getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/faqs.css">

</head>




<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutUs">
                                <i class="fas fa-info"></i>
                                About Us 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/faqs">
                                <i class="fas fa-info-circle"></i>
                                FAQS
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/feedback">
                                <i class="far fa-user"></i>
                                Feedback
                            </a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
      
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Limit additional drivers</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Will you be the only driver – or will someone else in your party take the wheel at times during your trip? If you share driving duties, you may have to include additional names on the rental contract, which could increase the cost. Age is also a factor, as drivers between the ages of 21 and 24 are more expensive. Your best bet is to try to keep the number of drivers to a minimum to avoid supplementary fees and stress.</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">Review your car insurance policy</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>While rental reimbursement insurance covers the actual cost of a rental car, it does not protect the rented vehicle in the event of an accident. Before accepting the insurance option offered to you by the rental agent, check with your agent to see if your personal car insurance policy includes collision and comprehensive coverage. If you already have this coverage on your regular vehicle, there’s a good chance it will transfer to a rental car so be sure to check your policy.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
                <h1 class="faq-page">Get educated on travel policies</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Taking your rental car out of state? Check for restrictions or additional fees. Renting in another country? Know that many insurance policies don’t offer coverage abroad.</p>
                </div>
            </div>
            <div class="faq-four">

                <!-- faq question -->
                <h1 class="faq-page">Fill up before returning</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Rental companies often require that the car be returned with a full tank of gas or they’ll charge you a substantial fee to refill the tank. Fill up yourself – at a gas station near the rental outlet.</p>
                </div>
            </div>
            <div class="faq-five">

                <!-- faq question -->
                <h1 class="faq-page">Bring your own accessories</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>As with gas, rental car companies generally charge a higher rate – often on a daily basis – for extras like navigation systems or baby safety car seats. Bring your own.</p>
                </div>
            </div>
            <div class="faq-six">

                <!-- faq question -->
                <h1 class="faq-page">Driving safety background checks could block you</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>If your driving record isn’t up to par, you could be rejected from renting a car – yes, even if you have a reservation. Some rental agencies look at your background to check for incidents of reckless driving, accidents or seat belt violations. If your past doesn’t meet company standards, you could be out of luck.</p>
                </div>
            </div>
            <div class="faq-seven">

                <!-- faq question -->
                <h1 class="faq-page">Inspection is necessary</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Make sure to inspect the car thoroughly before signing the rental contract. You don’t want to be held accountable for existing damage. Also, have an employee sign off on any ding, scratch or dent you spot. Most rental companies require you to sign an inspection form, but many people are in a hurry and rush through the process. Take this step seriously.</p>
                </div>
            </div>
            <div class="faq-eight">

                <!-- faq question -->
                <h1 class="faq-page">Avoid costly airport locations</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Consider renting your car at a location away from the airport. Being able to rent and return at the terminal can be a more convenient option, but you can expect to pay for that convenience through additional airport fees.</p>
                </div>
            </div>
            <div class="faq-nine">

                <!-- faq question -->
                <h1 class="faq-page">Beware of credit card blocks</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Are you nearing your credit limit or is your bank account balance low? Ask if the rental company puts a block on credit or debit cards – a practice used to ensure that customers have enough money to pay their bill.</p>
                </div>
            </div>
            <div class="faq-ten">

                <!-- faq question -->
                <h1 class="faq-page">Return on time</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>You may be surprised to learn that you could be charged extra for returning your rental car early. Bringing the vehicle back ahead of time, or later than agreed upon, could result in additional fees. If you anticipate a change in drop-off time, ask the rental agent about the company policy.

                        Don’t wait until it’s too late. These 10 tips can help you to stay clear of high rates and an overall rental car nightmare.</p>
                </div>
            </div>

        </section>
    <script src="/static/js/faqs.js"></script>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- https:jquery.com/download/ -->
    <script src="/static/js/moment.min.js"></script>
    <!-- https:momentjs.com/ -->
    <script src="/static/js/Chart.min.js"></script>
    <!-- http:www.chartjs.org/docs/latest/ -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- https:getbootstrap.com/ -->
    <script src="/static/js/tooplate-scripts.js"></script>
  
</body>

</html>